.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 80px;
    justify-content: space-between;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer .logo {
    margin-bottom: 30px;
}

.footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

.footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}


.footer-icons a {
    color: black;
    font-size: 22px;
    margin: 2px
}

.footer-icons i:hover,
.footer a:hover{
    color: #1eb37a;
}